body {
  background-image: url(../img/StarfieldSimulation.gif);
  font-family: "Orbitron", sans-serif;
  width: 100%;
}
h1{
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;

}
h4 {
  font-size: 25px;
  display: flex;
  text-align: center;
  color:coral;
}
h2 {
  font-size: 20px;
  display: flex;
  justify-content: baseline;
  text-align: center !important;
  color:coral;
}

.rocket_1 {
  visibility: hidden;
}

.rocket_2 {
  visibility: hidden;
}

.animate__animated.animate__bounceInDown {
  --animate-duration: 900ms;
}

.animate__animated.animate__backOutUp {
  --animate-duration: 600ms;
}
